Repository GingnamFong/StemStatistieken: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, test-frontend, test-backend, docker-build-frontend, docker-build-backend

build-frontend:
  stage: build
  image: node:22-alpine
  tags:
  - hva
  script:
  - cd frontend_vue
  - npm ci --no-audit --no-fund
  - npm run build
  artifacts:
    paths:
    - frontend_vue/dist
    expire_in: 1 hour

build-backend:
  stage: build
  image: maven:3.9-eclipse-temurin-21
  tags:
  - hva
  script:
  - cd XMLParser
  - mvn clean package -DskipTests
  artifacts:
    paths:
    - XMLParser/target/*.jar
    expire_in: 1 hour

test-frontend:
  stage: test
  image: node:22-alpine
  tags:
  - hva
  script:
  - cd frontend_vue
  - npm ci --no-audit --no-fund
  - npm run test || echo "No tests configured"

test-backend:
  stage: test
  image: maven:3.9-eclipse-temurin-21
  tags:
  - hva
  script:
  - cd XMLParser
  - mvn test
  artifacts:
    when: always
    reports:
      junit:
      - XMLParser/target/surefire-reports/TEST-*.xml

docker-build-frontend:
  stage: build-docker
  image: docker:24
  services:
  - docker:24-dind
  tags:
  - hva
  before_script:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
  - cd frontend_vue
  ...

docker-build-backend:
  stage: build-docker
  image: docker:24
  services:
  - docker:24-dind
  tags:
  - hva
  before_script:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
  - cd XMLParser
  ...

refactor(backend): gebruik StemwijzerDto in StemwijzerService in plaats van Map types
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/service/StemwijzerService.java
Due: build-backend, test-backend, docker-build-backend

ForumQuestionRepositoryTest testing
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/repository/ForumQuestionRepositoryTest.java
Due: build-backend, test-backend, docker-build-backend

Fix comment like functionality and authentication handling
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/CommentLikeController.java
Due: build-backend, test-backend, docker-build-backend

refactor: remove obsolete comment like logic for ForumComment
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/CommentLikeController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumCommentController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/CommentLike.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/ForumComment.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/ForumCommentRepository.java
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/test/CommentLikeRepositoryTest.java
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/test/ForumCommentRepositoryTest.java
Due: build-backend, test-backend, docker-build-backend

refactor: clean up forum comment frontend after backend changes
  database-db.trace.db
  frontend_vue/src/services/ForumService.js
  frontend_vue/src/services/ForumnService.js
Due: build-frontend, test-frontend, docker-build-frontend

refactor: removed unused components and fixed routing
  frontend_vue/src/router/index.js
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

feat: added FormQuestionDetail.vue
  frontend_vue/src/views/FormQuestionDetail.vue
Due: build-frontend, test-frontend, docker-build-frontend

fix comment like for relation
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/CommentLikeController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/CommentLike.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/CommentLikeRepository.java
Due: build-backend, test-backend, docker-build-backend

fix: user to use forum questions and deleted al unnessesary changes
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/Forum2Controller.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/ForumPost.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/User.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/ForumPostRepository.java
Due: build-backend, test-backend, docker-build-backend

ForumQuestionController.java testing
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumQuestionController.java
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/api/ForumQuestionControllerTest.java
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/repository/ForumQuestionRepositoryTest.java
  docs/POSTMAN_TESTING_GUIDE.md
Due: build-backend, test-backend, docker-build-backend

test for posting a question
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/api/ForumQuestionControllerTest.java
Due: build-backend, test-backend, docker-build-backend

fix(build): spring-boot-starter-security dependency toegevoegd
  XMLParser/pom.xml
Due: build-backend, test-backend, docker-build-backend

ForumQuestionControllerTest testing
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/api/ForumQuestionControllerTest.java
Due: build-backend, test-backend, docker-build-backend

build(docker): verwijder default VITE_API_BASE_URL om runtime detectie toe te staan
  frontend_vue/Dockerfile
Due: build-frontend, test-frontend, docker-build-frontend

fix(frontend): Azure backend URL detectie en HTTPS ondersteuning toevoegen
  frontend_vue/src/config/api.js
Due: build-frontend, test-frontend, docker-build-frontend

build(docker): XML verkiezingsdata toevoegen aan Docker image in plaats van uitsluiten
  XMLParser/.dockerignore
Due: build-backend, test-backend, docker-build-backend

build(docker): Azure Files mount directory en H2 database URL configureren
  XMLParser/Dockerfile
Due: build-backend, test-backend, docker-build-backend

fix(backend): Azure websites CORS pattern toevoegen voor frontend communicatie
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/config/CorsConfig.java
Due: build-backend, test-backend, docker-build-backend

fix(backend): JAR resource extraction ondersteunt jar:nested protocol en hergebruikt FileSystem
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/utils/PathUtils.java
Due: build-backend, test-backend, docker-build-backend

config(backend): H2 database URL en CORS origins configureren voor Azure deployment
  XMLParser/src/main/resources/application.properties
Due: build-backend, test-backend, docker-build-backend

chore(docker): translate XMLParser Dockerfile comments to English
  XMLParser/Dockerfile
Due: build-backend, test-backend, docker-build-backend

chore(docker): translate frontend Dockerfile comments to English
  frontend_vue/Dockerfile
Due: build-frontend, test-frontend, docker-build-frontend

chore(backend): translate ProvinceControllerTest comments to English
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/api/ProvincieControllerTest.java
Due: build-backend, test-backend, docker-build-backend

chore(backend): translate ProvinceServiceTest comments to English
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/service/ProvincieServiceTest.java
Due: build-backend, test-backend, docker-build-backend

test(backend): ElectionRepository unit tests toegevoegd
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/repository/ElectionRepositoryTest.java
Due: build-backend, test-backend, docker-build-backend

fix: added javadoc
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/CommentLikeController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/CommentLike.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/CommentLikeRepository.java
Due: build-backend, test-backend, docker-build-backend

ForumQuestionController comments and javadoc added
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumQuestionController.java
Due: build-backend, test-backend, docker-build-backend

small fix
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/User.java
Due: build-backend, test-backend, docker-build-backend

ForumQuestion model comments and javadoc added
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/ForumQuestion.java
Due: build-backend, test-backend, docker-build-backend

ForumQuestion DTO comments and javadocs added
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/dto/ForumQuestionDto.java
Due: build-backend, test-backend, docker-build-backend

fix: Update CORS configuration to fix stemstatistieken.me access - disable APIConfig conflict, use exact origins in CorsConfig
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/config/APIConfig.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/config/CorsConfig.java
Due: build-backend, test-backend, docker-build-backend

ForumQuestion Repository comments and javadocs added
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/ForumQuestionRepository.java
Due: build-backend, test-backend, docker-build-backend

feat: Add HTTPS support with Let's Encrypt SSL certificates
  docker-compose.aws.yml
  nginx-ssl.conf
Due: none

nginx api path
  nginx-ssl.conf
Due: none

docs(UML): Porvince class diagram
  docs/Uml/Province class diagram.png
Due: none

Some comment and javadoc text changes
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/dto/ForumQuestionDto.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/ForumQuestion.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/ForumQuestionRepository.java
Due: build-backend, test-backend, docker-build-backend

<P> in javadoc added
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/ForumQuestionRepository.java
Due: build-backend, test-backend, docker-build-backend

docs(UML): Votingmatch class diagram
  docs/Uml/Voting match class diagram.png
Due: none

ForumQuestionRepositoryTest small fix
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/repository/ForumQuestionRepositoryTest.java
Due: build-backend, test-backend, docker-build-backend

docs(UML): Class diagram updated
  docs/Uml/ClassUML.png
  docs/Uml/UML CLASS TEAM B.png
Due: none

Path conditions:
  build-frontend: any of: frontend_vue/**/*
  build-backend: any of: XMLParser/**/*
  test-frontend: any of: frontend_vue/**/*
  test-backend: any of: XMLParser/**/*
  docker-build-frontend: any of: frontend_vue/**/*
  docker-build-backend: any of: XMLParser/**/*
