Repository GingnamFong/StemStatistieken: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, test-frontend, test-backend, docker-build-frontend, docker-build-backend

build-frontend:
  stage: build
  image: node:22-alpine
  tags:
  - hva
  script:
  - cd frontend_vue
  - npm ci --no-audit --no-fund
  - npm run build
  artifacts:
    paths:
    - frontend_vue/dist
    expire_in: 1 hour

build-backend:
  stage: build
  image: maven:3.9-eclipse-temurin-21
  tags:
  - hva
  script:
  - cd XMLParser
  - mvn clean package -DskipTests
  artifacts:
    paths:
    - XMLParser/target/*.jar
    expire_in: 1 hour

test-frontend:
  stage: test
  image: node:22-alpine
  tags:
  - hva
  script:
  - cd frontend_vue
  - npm ci --no-audit --no-fund
  - npm run test || echo "No tests configured"

test-backend:
  stage: test
  image: maven:3.9-eclipse-temurin-21
  tags:
  - hva
  script:
  - cd XMLParser
  - mvn test
  artifacts:
    when: always
    reports:
      junit:
      - XMLParser/target/surefire-reports/TEST-*.xml

docker-build-frontend:
  stage: build-docker
  image: docker:24
  services:
  - docker:24-dind
  tags:
  - hva
  before_script:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
  - cd frontend_vue
  ...

docker-build-backend:
  stage: build-docker
  image: docker:24
  services:
  - docker:24-dind
  tags:
  - hva
  before_script:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
  - cd XMLParser
  ...

Add docker-compose for local development
  docker-compose.yml
Due: none

Docker Automated Pipeline md file
  README-DOCKER.md
Due: none

forum import changes
  frontend_vue/src/router/index.js
Due: build-frontend, test-frontend, docker-build-frontend

old forum design replaced with forum 2 design
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

fix(security): allow h2-console access with Spring Security
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/security/SecurityConfig.java
Due: build-backend, test-backend, docker-build-backend

Updating the import to match the filename
  frontend_vue/src/components/CompareContainer.vue
Due: build-frontend, test-frontend, docker-build-frontend

rollback for forum because something goes wrong
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

new forum design
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

added javadocs for comment backend
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumCommentController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/dto/ForumCommentDto.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/CommentLike.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/ForumComment.java
Due: build-backend, test-backend, docker-build-backend

added javadocs for security
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/security/SecurityConfig.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/security/SimpleTokenAuthFilter.java
Due: build-backend, test-backend, docker-build-backend

added javadocs for ForumCommentRepository.java and refactored use join fetch for comment delete authorization
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumCommentController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/ForumCommentRepository.java
Due: build-backend, test-backend, docker-build-backend

feat(controller): stemwijzer API endpoint toegevoegd
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/StemwijzerController.java
Due: build-backend, test-backend, docker-build-backend

feat(backend): stemwijzer service met match berekening toegevoegd
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/service/StemwijzerService.java
Due: build-backend, test-backend, docker-build-backend

docker build and prod file
  docker-compose.build.yml
  docker-compose.prod.yml
Due: none

feat(controller): favorite party endpoint toegevoegd voor stemwijzer
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/StemwijzerController.java
Due: build-backend, test-backend, docker-build-backend

feat(component): favorite party knop toegevoegd in beste match met login prompt
  frontend_vue/src/components/StemwijzerResults.vue
Due: build-frontend, test-frontend, docker-build-frontend

hardcoded dummy's to see what it looks like when something is posted
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

Support filesystem paths for election XML files and improve Docker setup
  XMLParser/.dockerignore
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/utils/PathUtils.java
  docker-compose.build.yml
Due: build-backend, test-backend, docker-build-backend

Added filter function for forum to make it easier to find specific answers
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

small forum information changes
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

CORS Configuratie voor aws server
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/AuthController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/config/CorsConfig.java
  XMLParser/src/main/resources/application.properties
  backend_springboot/src/main/resources/application.properties
Due: build-backend, test-backend, docker-build-backend

Fix: Auto-detect AWS server IP for backend API URL
  frontend_vue/src/config/api.js
Due: build-frontend, test-frontend, docker-build-frontend

test: add JPA repository tests for forum comments and likes
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/test/CommentLikeRepositoryTest.java
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/test/ForumCommentRepositoryTest.java
Due: build-backend, test-backend, docker-build-backend

forumQuestion lines added
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumQuestionController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/ForumQuestion.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/ForumQuestionRepository.java
Due: build-backend, test-backend, docker-build-backend

Fix: Pass VITE_API_BASE_URL as build arg so it's available during build time
  docker-compose.build.yml
  frontend_vue/Dockerfile
Due: build-frontend, test-frontend, docker-build-frontend

Improve API URL detection with better runtime fallback
  frontend_vue/src/config/api.js
Due: build-frontend, test-frontend, docker-build-frontend

fix: fixed cors routing due to mismatch naming
  frontend_vue/src/config/api.js
Due: build-frontend, test-frontend, docker-build-frontend

markdown guides and repository test
  XMLParser/docs/ForumQuestion-Testing.md
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/repository/ForumQuestionRepositoryTest.java
  docs/POSTMAN_TESTING_GUIDE.md
Due: build-backend, test-backend, docker-build-backend

Fix: fixed SecurityConfig so it doesnt protect h2
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/security/SecurityConfig.java
Due: build-backend, test-backend, docker-build-backend

fixing for network errors
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/config/APIConfig.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/security/SecurityConfig.java
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, build-backend, test-frontend, test-backend, docker-build-frontend, docker-build-backend

rollback APIConfig.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/config/APIConfig.java
Due: build-backend, test-backend, docker-build-backend

import fix
  frontend_vue/src/router/index.js
Due: build-frontend, test-frontend, docker-build-frontend

finally able to send questions to database
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/AuthController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumQuestionController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/dto/ForumQuestionDto.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/ForumQuestion.java
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, build-backend, test-frontend, test-backend, docker-build-frontend, docker-build-backend

Fixed the API calls to use CandidateService
  frontend_vue/src/components/CandidateList.vue
Due: build-frontend, test-frontend, docker-build-frontend

feat: Add logging and proper HTTP status codes to candidate endpoints
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/CandidateController.java
Due: build-backend, test-backend, docker-build-backend

feat(frontend): voeg Stemwijzer component toe voor partij matching
  frontend_vue/src/components/Stemwijzer.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor(backend): haal partijen uit database ipv hardcoded lijst in stemwijzer service
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/service/StemwijzerService.java
Due: build-backend, test-backend, docker-build-backend

refactor(controller): voeg error handling toe aan stemwijzer calculate endpoint
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/StemwijzerController.java
Due: build-backend, test-backend, docker-build-backend

requestMatcher for questions added
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/security/SecurityConfig.java
  docs/POSTMAN_TESTING_GUIDE.md
Due: build-backend, test-backend, docker-build-backend

Path conditions:
  build-frontend: any of: frontend_vue/**/*
  build-backend: any of: XMLParser/**/*
  test-frontend: any of: frontend_vue/**/*
  test-backend: any of: XMLParser/**/*
  docker-build-frontend: any of: frontend_vue/**/*
  docker-build-backend: any of: XMLParser/**/*
