Repository GingnamFong/StemStatistieken: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, test-frontend, test-backend, docker-build-frontend, docker-build-backend

.gitlab-ci.yml:

variables:
  DEPLOY_MKDOCS: "true"
  DEPLOY_HIC: "false"
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  
  # Docker Hub credentials (set in GitLab CI/CD variables)
  DOCKER_HUB_USER: "gingnam"
  DOCKER_HUB_REPO_BACKEND: "hva-backend"
  DOCKER_HUB_REPO_FRONTEND: "hva-frontend"

stages:
  - build
  - test
  - build-docker
  - deploy

include:
  - ".gitlab-ci.mkdocs.yml"

# Build Frontend
build-frontend:
  stage: build
  image: node:22-alpine
  tags:
    - hva
  script:
    - cd frontend_vue
    - npm ci --no-audit --no-fund
    - npm run build
  artifacts:
    paths:
      - frontend_vue/dist
    expire_in: 1 hour
  only:
    changes:
      - frontend_vue/**/*

# Build Backend (XMLParser)
build-backend:
  stage: build
  image: maven:3.9-eclipse-temurin-21
  tags:
    - hva
  script:
    - cd XMLParser
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - XMLParser/target/*.jar
    expire_in: 1 hour
  only:
    changes:
      - XMLParser/**/*

# Test Frontend
test-frontend:
  stage: test
  image: node:22-alpine
  tags:
    - hva
  script:
    - cd frontend_vue
    - npm ci --no-audit --no-fund
    - npm run test || echo "No tests configured"
  only:
    changes:
      - frontend_vue/**/*

# Test Backend (XMLParser)
test-backend:
  stage: test
  image: maven:3.9-eclipse-temurin-21
  tags:
    - hva
  script:
    - cd XMLParser
    - mvn test
  artifacts:
    when: always
    reports:
      junit:
        - XMLParser/target/surefire-reports/TEST-*.xml
  only:
    changes:
      - XMLParser/**/*

# Build Docker image for Frontend
docker-build-frontend:
  stage: build-docker
  image: docker:24
  services:
    - docker:24-dind
  tags:
    - hva
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
    - cd frontend_vue
    - |
      VERSION_TAG="${CI_COMMIT_SHORT_SHA}"
      if [ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]; then
        VERSION_TAG="latest"
      fi
    - |
      docker build -t $DOCKER_HUB_USER/$DOCKER_HUB_REPO_FRONTEND:$VERSION_TAG .
      docker tag $DOCKER_HUB_USER/$DOCKER_HUB_REPO_FRONTEND:$VERSION_TAG $DOCKER_HUB_USER/$DOCKER_HUB_REPO_FRONTEND:latest
    - docker push $DOCKER_HUB_USER/$DOCKER_HUB_REPO_FRONTEND:$VERSION_TAG
    - docker push $DOCKER_HUB_USER/$DOCKER_HUB_REPO_FRONTEND:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "develop"
      changes:
        - frontend_vue/**/*

# Build Docker image for Backend (XMLParser)
docker-build-backend:
  stage: build-docker
  image: docker:24
  services:
    - docker:24-dind
  tags:
    - hva
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
    - cd XMLParser
    - |
      VERSION_TAG="${CI_COMMIT_SHORT_SHA}"
      if [ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]; then
        VERSION_TAG="latest"
      fi
    - |
      docker build -t $DOCKER_HUB_USER/$DOCKER_HUB_REPO_BACKEND:$VERSION_TAG .
      docker tag $DOCKER_HUB_USER/$DOCKER_HUB_REPO_BACKEND:$VERSION_TAG $DOCKER_HUB_USER/$DOCKER_HUB_REPO_BACKEND:latest
    - docker push $DOCKER_HUB_USER/$DOCKER_HUB_REPO_BACKEND:$VERSION_TAG
    - docker push $DOCKER_HUB_USER/$DOCKER_HUB_REPO_BACKEND:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "develop"
      changes:
        - XMLParser/**/*

feat(component): gewogen resultaten met categorie analyse van prioriteiten zichtbaar bij uitslag
  frontend_vue/src/components/StemwijzerResults.vue
Due: build-frontend, test-frontend, docker-build-frontend

feat(service): gewogen match berekening toe aan stemwijzer toegevoegd
  frontend_vue/src/services/StemwijzerService.js
Due: build-frontend, test-frontend, docker-build-frontend

feat: user will get a message when error 500 appears
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumQuestionController.java
Due: build-backend, test-backend, docker-build-backend

feat: 401 error message when user is not authenticated
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumQuestionController.java
Due: build-backend, test-backend, docker-build-backend

feat: 401 error message when user is not found and 201 message if a question is created successfully
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumQuestionController.java
Due: build-backend, test-backend, docker-build-backend

feat: 401 and 404 error messages added
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumQuestionController.java
Due: build-backend, test-backend, docker-build-backend

refactor: extract polling station endpoints into PollingStationController
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ElectionController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/PollingStationController.java
Due: build-backend, test-backend, docker-build-backend

test: add unit tests for PollingStationController endpoints
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/api/PollingStationControllerTest.java
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/service/PollingStationServiceTest.java
Due: build-backend, test-backend, docker-build-backend

feat: 201 success message added
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumQuestionController.java
Due: build-backend, test-backend, docker-build-backend

docs update
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/User.java
Due: build-backend, test-backend, docker-build-backend

feat: 401, 403 and 404 error messages added
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumQuestionController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/ForumQuestion.java
Due: build-backend, test-backend, docker-build-backend

Service for generating and validating authentication tokens
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/service/TokenService.java
Due: build-backend, test-backend, docker-build-backend

Implement token service
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/AuthController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/security/SecurityConfig.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/security/SimpleTokenAuthFilter.java
Due: build-backend, test-backend, docker-build-backend

HMAC-SHA256 signature added
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/security/SimpleTokenAuthFilter.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/service/TokenService.java
  XMLParser/src/main/resources/application.properties
Due: build-backend, test-backend, docker-build-backend

fix: change token string
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/service/TokenService.java
Due: build-backend, test-backend, docker-build-backend

tokenservice Documentation
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/service/TokenService.java
Due: build-backend, test-backend, docker-build-backend

docs: comments added for ForumQuestionService.js
  frontend_vue/src/services/ForumQuestionService.js
Due: build-frontend, test-frontend, docker-build-frontend

feat(frontend): stemwijzer pagina toegevoegd met eigen route en layout
  frontend_vue/src/views/StemwijzerView.vue
Due: build-frontend, test-frontend, docker-build-frontend

feat(frontend): route /stemwijzer toegevoegd
  frontend_vue/src/router/index.js
Due: build-frontend, test-frontend, docker-build-frontend

feat(component): stemwijzer link toegevoegd aan navbar na forum
  frontend_vue/src/components/TopNavbar.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor(frontend): stemwijzer sectie verwijderd van homepagina
  frontend_vue/src/views/HomeView.vue
Due: build-frontend, test-frontend, docker-build-frontend

style(component): stemwijzer vraagcomponent compacter gemaakt
  frontend_vue/src/components/StemwijzerQuestion.vue
Due: build-frontend, test-frontend, docker-build-frontend

style(component): progress bar wat minder groot gemaakt
  frontend_vue/src/components/StemwijzerProgress.vue
Due: build-frontend, test-frontend, docker-build-frontend

docs: documentation for forum endpoints
  docs/Forum endpoints/ForumEndpointsDoc.md
Due: none

docs: more documentation for forum endpoints
  docs/Forum endpoints/ForumEndpointsDoc.md
Due: none

test: ForumQuestionControllerTest fixed
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/api/ForumQuestionControllerTest.java
Due: build-backend, test-backend, docker-build-backend

docs: comments added in service and more
  frontend_vue/src/composables/AsyncHandler.js
  frontend_vue/src/composables/ForumFilters.js
  frontend_vue/src/data/dummyPosts.js
  frontend_vue/src/utils/time.js
Due: build-frontend, test-frontend, docker-build-frontend

Rebranding logo
  docker-compose.aws.yml
  frontend_vue/index.html
  frontend_vue/public/favicon.ico
  frontend_vue/public/favicon.svg
Due: build-frontend, test-frontend, docker-build-frontend
