Repository GingnamFong/StemStatistieken: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, test-frontend, test-backend, docker-build-frontend, docker-build-backend

build-frontend:
  stage: build
  image: node:22-alpine
  tags:
  - hva
  script:
  - cd frontend_vue
  - npm ci --no-audit --no-fund
  - npm run build
  artifacts:
    paths:
    - frontend_vue/dist
    expire_in: 1 hour

build-backend:
  stage: build
  image: maven:3.9-eclipse-temurin-21
  tags:
  - hva
  script:
  - cd XMLParser
  - mvn clean package -DskipTests
  artifacts:
    paths:
    - XMLParser/target/*.jar
    expire_in: 1 hour

test-frontend:
  stage: test
  image: node:22-alpine
  tags:
  - hva
  script:
  - cd frontend_vue
  - npm ci --no-audit --no-fund
  - npm run test || echo "No tests configured"

test-backend:
  stage: test
  image: maven:3.9-eclipse-temurin-21
  tags:
  - hva
  script:
  - cd XMLParser
  - mvn test
  artifacts:
    when: always
    reports:
      junit:
      - XMLParser/target/surefire-reports/TEST-*.xml

docker-build-frontend:
  stage: build-docker
  image: docker:24
  services:
  - docker:24-dind
  tags:
  - hva
  before_script:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
  - cd frontend_vue
  ...

docker-build-backend:
  stage: build-docker
  image: docker:24
  services:
  - docker:24-dind
  tags:
  - hva
  before_script:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
  - cd XMLParser
  ...

fix; added page and pageable with error handeling
  XMLParser/pom.xml
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumCommentController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/ForumCommentRepository.java
Due: build-backend, test-backend, docker-build-backend

stupid forum comments are finally showing
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumQuestionController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/dto/ForumQuestionDto.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/ForumQuestionRepository.java
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, build-backend, test-frontend, test-backend, docker-build-frontend, docker-build-backend

docs(backend): translate Dutch comments to English in ProvinceMapper
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/mapper/ProvinceMapper.java
Due: build-backend, test-backend, docker-build-backend

docs(backend): translate Dutch comments to English in Province model
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/Province.java
Due: build-backend, test-backend, docker-build-backend

docs(backend): translate Dutch comments to English in ProvinceResults model
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/ProvinceResults.java
Due: build-backend, test-backend, docker-build-backend

feat(frontend): add StemwijzerService for API calls
  frontend_vue/src/services/StemwijzerService.js
Due: build-frontend, test-frontend, docker-build-frontend

refactor(frontend): move API calls to StemwijzerService
  frontend_vue/src/components/Stemwijzer.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor(frontend): move API calls to StemwijzerService
  frontend_vue/src/components/StemwijzerResults.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor(frontend): move getAvailableYears logic to ElectionService
  frontend_vue/src/services/ElectionService.js
Due: build-frontend, test-frontend, docker-build-frontend

docs(backend): Javadoc ProvincieController vertaald van Nederlands naar Engels
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ProvincieController.java
Due: build-backend, test-backend, docker-build-backend

fix(controller): voeg error handling toe aan stemwijzer endpoint
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/StemwijzerController.java
Due: build-backend, test-backend, docker-build-backend

refactor: move user API calls to UserService
  frontend_vue/src/services/UserService.js
Due: build-frontend, test-frontend, docker-build-frontend

refactor: implement UserService in Vue component profile/login/register
  frontend_vue/src/components/LoginComponent.vue
  frontend_vue/src/components/RegisterComponent.vue
  frontend_vue/src/components/UserProfile.vue
Due: build-frontend, test-frontend, docker-build-frontend

docs(frontend): Javadoc ProvincieService vertaald van Nederlands naar Engels
  frontend_vue/src/services/ProvincieService.js
Due: build-frontend, test-frontend, docker-build-frontend

forum 2 button deleted from navbar. And forum questions are finally showing on the forum
  frontend_vue/src/components/TopNavbar.vue
Due: build-frontend, test-frontend, docker-build-frontend

docs(backend): Javadoc ProvincieService vertaald van Nederlands naar Engels
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/service/ProvincieService.java
Due: build-backend, test-backend, docker-build-backend

feat(component): API call logica verplaatst naar ElectionService
  frontend_vue/src/components/CompareSelectionColumn.vue
Due: build-frontend, test-frontend, docker-build-frontend

feat: add OneToMany relationship from User to ForumPost
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/User.java
  frontend_vue/src/components/RegisterComponent.vue
Due: build-frontend, build-backend, test-frontend, test-backend, docker-build-frontend, docker-build-backend

feat(backend): voeg logging toe en vertaal JavaDoc naar Engels in StemwijzerService
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/service/StemwijzerService.java
Due: build-backend, test-backend, docker-build-backend

feat(frontend): voeg loading state toe en vertaal comments naar Engels in DutchMapProvincie
  frontend_vue/src/components/DutchMapProvincie.vue
Due: build-frontend, test-frontend, docker-build-frontend

feat: add lazy loading and caching strategies to User entity
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/User.java
Due: build-backend, test-backend, docker-build-backend

feat: add caching Candidate, Election, and Party
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/Candidate.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/Election.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/Party.java
Due: build-backend, test-backend, docker-build-backend

Fixed the JPA mapping issue
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/ForumPost.java
Due: build-backend, test-backend, docker-build-backend

Remove unused Forum2Controller
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/Forum2Controller.java
Due: build-backend, test-backend, docker-build-backend

Add cors origins
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/config/CorsConfig.java
Due: build-backend, test-backend, docker-build-backend

API configuration to use the AWS server
  frontend_vue/src/config/api.js
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

aws docker compose
  docker-compose.aws.yml
Due: none

feat(config): add OpenAPI configuration for automatic API documentation
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/config/OpenAPIConfig.java
Due: build-backend, test-backend, docker-build-backend

feat(backend): add pagination support with Pageable to ElectionRepository
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ElectionController.java
Due: build-backend, test-backend, docker-build-backend

build(build): voeg springdoc-openapi dependency toe voor API documentatie
  XMLParser/pom.xml
Due: build-backend, test-backend, docker-build-backend

feat(backend): voeg paginatie ondersteuning toe met Pageable aan ElectionRepository
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/ElectionRepository.java
Due: build-backend, test-backend, docker-build-backend

fix: removed comment logic due to jonathon already adding it
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/CommentLikeController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumCommentController.java
Due: build-backend, test-backend, docker-build-backend

fix: removed unused files
  frontend_vue/src/views/Forum2View.vue
Due: build-frontend, test-frontend, docker-build-frontend

fix: config to allow forum questions
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/config/CorsConfig.java
Due: build-backend, test-backend, docker-build-backend

Fix: lazy loading issue when fetching forum question details
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumQuestionController.java
Due: build-backend, test-backend, docker-build-backend

Fix: refactor ForumQuestionDto to avoid lazy loading of comments
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/dto/ForumQuestionDto.java
Due: build-backend, test-backend, docker-build-backend

Fix: Add query to fetch forum comments with author
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/ForumQuestionRepository.java
Due: build-backend, test-backend, docker-build-backend

Fix: removed comment like actions
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/security/SecurityConfig.java
Due: build-backend, test-backend, docker-build-backend

feat(backend): voeg StemwijzerDto toe, DTO voor stemwijzer functionaliteit
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/dto/StemwijzerDto.java
Due: build-backend, test-backend, docker-build-backend

refactor(backend): gebruik StemwijzerDto in StemwijzerController in plaats van Map types
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/StemwijzerController.java
Due: build-backend, test-backend, docker-build-backend

Path conditions:
  build-frontend: any of: frontend_vue/**/*
  build-backend: any of: XMLParser/**/*
  test-frontend: any of: frontend_vue/**/*
  test-backend: any of: XMLParser/**/*
  docker-build-frontend: any of: frontend_vue/**/*
  docker-build-backend: any of: XMLParser/**/*
