Repository GingnamFong/StemStatistieken: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, test-frontend, test-backend, docker-build-frontend, docker-build-backend

.gitlab-ci.yml:

variables:
  DEPLOY_MKDOCS: "true"
  DEPLOY_HIC: "false"
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  
  # Docker Hub credentials (set in GitLab CI/CD variables)
  DOCKER_HUB_USER: "gingnam"
  DOCKER_HUB_REPO_BACKEND: "hva-backend"
  DOCKER_HUB_REPO_FRONTEND: "hva-frontend"

stages:
  - build
  - test
  - build-docker
  - deploy

include:
  - ".gitlab-ci.mkdocs.yml"

# Build Frontend
build-frontend:
  stage: build
  image: node:22-alpine
  tags:
    - hva
  script:
    - cd frontend_vue
    - npm ci --no-audit --no-fund
    - npm run build
  artifacts:
    paths:
      - frontend_vue/dist
    expire_in: 1 hour
  only:
    changes:
      - frontend_vue/**/*

# Build Backend (XMLParser)
build-backend:
  stage: build
  image: maven:3.9-eclipse-temurin-21
  tags:
    - hva
  script:
    - cd XMLParser
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - XMLParser/target/*.jar
    expire_in: 1 hour
  only:
    changes:
      - XMLParser/**/*

# Test Frontend
test-frontend:
  stage: test
  image: node:22-alpine
  tags:
    - hva
  script:
    - cd frontend_vue
    - npm ci --no-audit --no-fund
    - npm run test || echo "No tests configured"
  only:
    changes:
      - frontend_vue/**/*

# Test Backend (XMLParser)
test-backend:
  stage: test
  image: maven:3.9-eclipse-temurin-21
  tags:
    - hva
  script:
    - cd XMLParser
    - mvn test
  artifacts:
    when: always
    reports:
      junit:
        - XMLParser/target/surefire-reports/TEST-*.xml
  only:
    changes:
      - XMLParser/**/*

# Build Docker image for Frontend
docker-build-frontend:
  stage: build-docker
  image: docker:24
  services:
    - docker:24-dind
  tags:
    - hva
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
    - cd frontend_vue
    - |
      VERSION_TAG="${CI_COMMIT_SHORT_SHA}"
      if [ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]; then
        VERSION_TAG="latest"
      fi
    - |
      docker build -t $DOCKER_HUB_USER/$DOCKER_HUB_REPO_FRONTEND:$VERSION_TAG .
      docker tag $DOCKER_HUB_USER/$DOCKER_HUB_REPO_FRONTEND:$VERSION_TAG $DOCKER_HUB_USER/$DOCKER_HUB_REPO_FRONTEND:latest
    - docker push $DOCKER_HUB_USER/$DOCKER_HUB_REPO_FRONTEND:$VERSION_TAG
    - docker push $DOCKER_HUB_USER/$DOCKER_HUB_REPO_FRONTEND:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "develop"
      changes:
        - frontend_vue/**/*

# Build Docker image for Backend (XMLParser)
docker-build-backend:
  stage: build-docker
  image: docker:24
  services:
    - docker:24-dind
  tags:
    - hva
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
    - cd XMLParser
    - |
      VERSION_TAG="${CI_COMMIT_SHORT_SHA}"
      if [ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]; then
        VERSION_TAG="latest"
      fi
    - |
      docker build -t $DOCKER_HUB_USER/$DOCKER_HUB_REPO_BACKEND:$VERSION_TAG .
      docker tag $DOCKER_HUB_USER/$DOCKER_HUB_REPO_BACKEND:$VERSION_TAG $DOCKER_HUB_USER/$DOCKER_HUB_REPO_BACKEND:latest
    - docker push $DOCKER_HUB_USER/$DOCKER_HUB_REPO_BACKEND:$VERSION_TAG
    - docker push $DOCKER_HUB_USER/$DOCKER_HUB_REPO_BACKEND:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "develop"
      changes:
        - XMLParser/**/*

Added uml forum
  docs/Uml/Screenshot 2025-12-18 at 00.08.44.png
Due: none

service file added
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/service/ForumQuestionService.java
Due: build-backend, test-backend, docker-build-backend

Update UserService.js
  frontend_vue/src/services/UserService.js
Due: build-frontend, test-frontend, docker-build-frontend

feat: Add input validation for user profile updates and login frontend and backend
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/AuthController.java
  frontend_vue/src/components/LoginComponent.vue
  frontend_vue/src/components/UserProfile.vue
  frontend_vue/src/services/UserService.js
Due: build-frontend, build-backend, test-frontend, test-backend, docker-build-frontend, docker-build-backend

feat: add profile relationships and ProfileRepository
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/model/User.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/repository/ProfileRepository.java
Due: build-backend, test-backend, docker-build-backend

(docs):Daily standup (kerstvakantie planning)
  docs/Daily standups documentatie/Daily standup (kerstvakantie planning) December 19.md
Due: none

feat: ForumQuestionService.js file added for backend logic
  frontend_vue/src/services/ForumQuestionService.js
Due: build-frontend, test-frontend, docker-build-frontend

refactor: extract forum post submission into service
  frontend_vue/src/services/ForumQuestionService.js
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

chore: remove unused import
  frontend_vue/src/services/ForumQuestionService.js
Due: build-frontend, test-frontend, docker-build-frontend

smal fixes
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/CommentLikeController.java
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ForumQuestionController.java
  frontend_vue/src/services/ForumService.js
  frontend_vue/src/views/FormQuestionDetail.vue
Due: build-frontend, build-backend, test-frontend, test-backend, docker-build-frontend, docker-build-backend

refactor: moved votePost logic to ForumQuestionService.js
  frontend_vue/src/services/ForumQuestionService.js
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor: ForumFilters.js added to move forum filters logic from vue to a new backend file
  frontend_vue/src/composables/ForumFilters.js
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor: unused import removed
  frontend_vue/src/services/ForumQuestionService.js
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

docs: added comments in ForumFilters.js
  frontend_vue/src/composables/ForumFilters.js
Due: build-frontend, test-frontend, docker-build-frontend

refactor: time.js file added to move time backend into a seperated file
  frontend_vue/src/utils/time.js
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor: moved fetchForumPosts backend logic into ForumQuestionService.js
  frontend_vue/src/services/ForumQuestionService.js
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor: moved dummyPost backend into dummyPosts.js so the vue component has a cleaner backend
  frontend_vue/src/data/dummyPosts.js
  frontend_vue/src/services/ForumQuestionService.js
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor: AsyncHandler.js added for a cleaner look in the backend of ForumView.vue
  frontend_vue/src/composables/AsyncHandler.js
  frontend_vue/src/services/ForumQuestionService.js
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor: new vue component files made
  frontend_vue/src/components/CreatePost.vue
  frontend_vue/src/components/ForumFilters.vue
  frontend_vue/src/components/ForumSideBar.vue
  frontend_vue/src/components/PostCard.vue
  frontend_vue/src/components/PostForm.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor: ForumHeader.vue made. ForumHeader logic can be found in ForumHeader.vue component.
  frontend_vue/src/components/ForumFilters.vue
  frontend_vue/src/components/ForumHeader.vue
  frontend_vue/src/components/ForumPostCard.vue
  frontend_vue/src/components/PostCard.vue
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor: CreatePostCard.vue made for cleaner PostCard logic
  frontend_vue/src/components/CreatePost.vue
  frontend_vue/src/components/CreatePostCard.vue
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor: ForumPostCard logic moved to ForumPostCard.vue
  frontend_vue/src/components/ForumPostCard.vue
Due: build-frontend, test-frontend, docker-build-frontend

fix: posts in forum not showing fixed
  frontend_vue/src/components/ForumPostCard.vue
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

fix: import fix.
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

fix: slot name deleted because it caused two icons to disappear
  frontend_vue/src/components/CreatePostCard.vue
Due: build-frontend, test-frontend, docker-build-frontend

fix: something weird happened
  frontend_vue/src/components/CreatePostCard.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor: filter logic moved to ForumFilters.vue
  frontend_vue/src/components/ForumFilters.vue
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

Add comprehensive unit tests for PollingStationRepository
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/repository/PollingStationRepositoryTest.java
Due: build-backend, test-backend, docker-build-backend

refactor: Post form modal logic moved to PostForm.vue
  frontend_vue/src/components/PostForm.vue
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor: sidebar code moved to ForumSideBar.vue
  frontend_vue/src/components/ForumSideBar.vue
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor: import cleanup
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

refactor: css cleanup in ForumView.vue
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

fix: added PollingStationService
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/service/PollingStationService.java
Due: build-backend, test-backend, docker-build-backend

fix: Use PollingStationService for polling station lookups in ElectionController
  XMLParser/src/main/java/nl/hva/ict/sm3/backend/api/ElectionController.java
Due: build-backend, test-backend, docker-build-backend

added test flows for pollingstationService
  XMLParser/src/test/java/nl/hva/ict/sm3/backend/service/PollingStationServiceTest.java
Due: build-backend, test-backend, docker-build-backend

docs: comments added and removed
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

docs: comments added in template part where it was needed
  frontend_vue/src/views/ForumView.vue
Due: build-frontend, test-frontend, docker-build-frontend

feat(frontend): meer en gedetailleerdere stemwijzer vragen data bestand toegevoegd
  frontend_vue/src/data/stemwijzerQuestions.js
Due: build-frontend, test-frontend, docker-build-frontend

feat(component): 5-punten optie antwoordenweging en vraag gewicht toegevoegd
  frontend_vue/src/components/StemwijzerQuestion.vue
Due: build-frontend, test-frontend, docker-build-frontend

feat(component): stemwijzer uitgebreid met gewogen antwoorden
  frontend_vue/src/components/Stemwijzer.vue
Due: build-frontend, test-frontend, docker-build-frontend
